.product-info-tabs {
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 2px solid $gray-500;
    z-index: -1;
  }
  &__item {
    margin: 0 5px;
    padding: 10px;
    padding-bottom: 8px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.8px;
    color: $primary;
    text-decoration: none;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    transition: all 0.25s;
    &_active {
      color: $black;
    }
    &:hover {
      border-bottom: 2px solid $gray-700;
      color: $black;
    }
    &:focus {
      outline: none;
      border-bottom: 2px solid $gray-700;
      color: $black;
    }
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  &__active-line {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: $black;
    transition: transform 0.4s ease, width 0.4s ease;
  }
}
.content {
  margin-top: 30px;
  font-size: 20px;
}
